/* CategoriesNav.module.css */

.tabs {
    margin-top: 20px;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .tabs-indicator {
    background-color: #8baa36;
  }
  
  .tab-root {
    outline: none;
    padding: 10px 10px 32px 10px;
  }
  
  .tabs-flex-container {
    gap: 28px;
  }
  
  .tab {
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    color: #e0e0e0;
  }
  
  .tab-selected {
    color: #8baa36;
  }
  