.pagination__center {
  align-items: center;
}
.pagination {
  padding-block: 10px;

  background-color: var(--color-bg-pagination);
  border-radius: 26px;
  box-shadow: -5px 13px 14px -8px var(--box-shadow-pagination);

  @media screen and (min-width: 768px) {
    padding-block: 14px;
  }
}
