.pagination__center {
  align-items: center;
}
.pagination {
  padding-block: 10px;

  background-color: var(--color-bg-pagination);
  border-radius: 26px;
  box-shadow: -5px 13px 14px -8px var(--box-shadow-pagination);
  transition: box-shadow var(--transition-duration) ease;
}

.pagination:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .pagination {
    padding-block: 14px;
  }
}
