.copyrightsBox {
  background-color: transparent;
  padding-block: 28px;
}
.container {
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    padding: 0 32px;
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
.textBox {
  display: flex;
  flex-direction: row;
  gap: 14px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    gap: 28px;
  }
  @media screen and (min-width: 1200px) {
    gap: 40px;
  }
}
.textMedium {
  font-weight: medium;
}
.text {
  font-size: 10px;
  line-height: 10px;
  color: #22252a;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 14px;
  }
}
