.copyrightsBox {
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: transparent;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.textBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 14px;
  padding-block: 10px;
}

.text {
  font-size: 10px;
  line-height: 1.2;
  color: var(--color-text-title);
  transition: color var(--transition-duration) ease;
}

.text:hover {
  color: var(--color-text-highlight);
}

.textMedium {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .textBox {
    gap: 28px;
  }

  .text {
    font-size: 14px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .textBox {
    gap: 40px;
  }
}
