.copyrightsBox {
  padding-block: 28px;

  background-color: transparent;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.textBox {
  display: flex;
  flex-direction: row;
  gap: 14px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    gap: 28px;
  }

  @media screen and (min-width: 1200px) {
    gap: 40px;
  }
}

.textMedium {
  font-weight: medium;
}

.text {
  font-size: 10px;
  line-height: 10px;
  color: #22252a;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 14px;
  }
}
