.iconCloseButton {
  position: absolute;
  right: 18px;
  top: 18px;
}
.iconClose {
 

  width: 20px;
  height: 20px;

  stroke: var(--color-hamburger);

  cursor: pointer;

  @media screen and (min-width: 768px) {
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;
  }
}

.iconClose:hover {
  stroke: var(--color-text-highlight);
}