.addRecipePage {
  padding-bottom: 100px;

  @media screen and (min-width: 768px) {
    padding-bottom: 200px;
  }
}

.addRecipePage__container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.flex {
  display: flex;
  flex-direction: column;
}

.addRecipePage__content {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 121px;
  }
}

.addRecipePage__sidebar {
  margin-left: 121px;
}
