.addRecipePage__container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: column;
}

.addRecipePage__content {
  display: flex;
  flex-direction: column;
}

.addRecipePage__sidebar {
  margin-left: 121px;
}

@media screen and (min-width: 768px) {
  .addRecipePage__container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1200px) {
  .addRecipePage__container {
    max-width: 1200px;
  }
  .addRecipePage__content {
    flex-direction: row;
    gap: 121px;
  }
}
