.userInfoModal {
  position: absolute;
  right: -80px;
  top: -1px;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 24px;

  background-color: var(--color-bg-body);
  border-radius: 10px;
}

.userInfoModal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* ? */
  cursor: context-menu;
}

.userInfoModal__avatarPreview {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 88px;

  background-color: #d9d9d9;
  border-radius: 50%;

  cursor: pointer;
}

.userInfoModal__avatarPreview::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5%;

  width: 24px;
  height: 24px;
  background-image: url("../../../images/plus.svg");
  background-size: contain;
  transform: translateX(-50%);
}

.userInfoModal__avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userInfoModal__inputWrapper {
  position: relative;
  display: flex;

  align-items: center;

  width: 100%;
  margin-top: 54px;
  padding: 14px 14px;

  border: 1px solid var(--color-border-input);
  border-radius: 6px;
}

.userInfoModal__input {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--color-text-input);
  width: 100%;
  background-color: transparent;

  outline: none;
  border: none;
}

.userInfoModal__input:focus {
  outline: none;
}

.userInfoModal__iconUser,
.userInfoModal__iconEdit {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  fill: none;
  stroke: var(--color-stroke-icon);
}

.userInfoModal__iconUser {
  margin-right: 8px;
}

.userInfoModal__iconEdit {
  margin-left: 8px;
}

.userInfoModal__btnSave {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 24px;
  padding-block: 14px;

  font-size: 14px;
  line-height: 1.29;
  color: var(--color-text-button);

  background-color: #8baa36;
  border-radius: 6px;
  border-color: transparent;

  white-space: nowrap;
}

.userInfoModal__iconPicture {
  width: 40px;
  height: 40px;
}

.userInfoModal__inputFile {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media screen and (min-width: 768px) {
  .userInfoModal {
    right: -60px;
    padding: 50px 40px;
  }
  .userInfoModal__avatarPreview {
    width: 103px;
    height: 103px;
  }
  .userInfoModal__input {
    font-size: 18px;
  }

  .userInfoModal__iconUser,
  .userInfoModal__iconEdit {
    width: 24px;
    height: 24px;
  }

  .userInfoModal__btnSave {
    margin-top: 32px;
    padding: 18px;
    font-size: 16px;
  }
  .userInfoModal__inputWrapper {
    margin-top: 50px;
    width: 280px;
  }
  .userInfoModal__iconPicture {
    width: 47px;
    height: 47px;
  }
}

@media screen and (min-width: 1200px) {
  .userInfoModal {
    padding: 60px 50px;
  }
  .userInfoModal__inputWrapper {
    margin-top: 52px;
  }
}


.userInfoModal .iconCloseButton {
  top:18px;
}