.editProfileModal {
  position: absolute;
  right: -80px;
  top: -1px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 24px;

  background-color: var(--color-bg-menuModal);
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    right: -60px;

    padding: 50px 40px;
  }

  @media screen and (min-width: 1200px) {
    padding: 60px 50px;
  }
}

.iconClose {
  position: absolute;
  right: 18px;
  top: 18px;

  width: 20px;
  height: 20px;

  @media screen and (min-width: 768px) {
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: context-menu;
}

.btnSave {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 24px;
  padding-block: 14px;

  font-size: 14px;
  line-height: 18px;
  color: var(--color-text-third); /*update*/

  background-color: #8baa36;
  border-radius: 6px;
  border-color: transparent;

  white-space: nowrap;

  @media screen and (min-width: 768px) {
    margin-top: 32px;
    padding-block: 18px;

    font-size: 16px;
  }
}

.inputUsername {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  margin-top: 54px;
  padding: 14px 14px;

  border: 1px solid #23262a;
  border-radius: 6px;

  @media screen and (min-width: 768px) {
    margin-top: 50px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 52px;
  }
}

.iconUser {
  width: 18px;
  height: 18px;
  margin-right: 8px;

  fill: #ffffff;
  stroke: #23262a;

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.input {
  font-size: 14px;
  letter-spacing: -2%;
  color: var(--color-text-main); /*update*/

  outline: none;
  border: none;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.iconEdit {
  width: 17px;
  height: 17px;

  fill: #ffffff;
  stroke: #23262a;

  @media screen and (min-width: 768px) {
    width: 19px;
    height: 19px;
  }
}

.iconPicture {
  width: 40px;
  height: 40px;

  @media screen and (min-width: 768px) {
    width: 47px;
    height: 47px;
  }
}

.logoBackground {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 88px;

  background-color: #d9d9d9;
  border-radius: 50%;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 103px;
    height: 103px;
  }
}

.logoBackground::after {
  content: url("../../../images/plus.svg");
  position: absolute;
  right: 0;
  bottom: -5%;

  width: 24px;
  height: 24px;

  transform: translateX(-50%);
}

.btnAdd {
  position: absolute;
  right: 24px;
  bottom: -2px;

  width: 24px;
  height: 24px;
  padding: 3px;

  background-color: #8baa36;
  border: none;
  border-radius: 50%;
}

.iconPlus {
  width: 18px;
  height: 18px;
}

.inputFile {
  display: none;
}
