.cardPopularRecipe__container {
  display: flex;
  flex-direction: row;
  gap: 12px;


  border-bottom: 1px solid var(--color-border-line);
}

.cardPopularRecipe__image {
  width: 104px;
  height: 85px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.cardPopularRecipe__info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cardPopularRecipe__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: var(--color-text-subtitle);
}

.cardPopularRecipe__description {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.24px;
  color: var(--color-text-description-third);
}
