.backgroundMenuModal {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #ebf3d4;

  display: flex;
 
 
}
.headModal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.iconClose {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.menuModal {
display: flex;
  flex-direction: column;
  justify-content: space-between;
   padding: 16px 18px; 
   width: 100%;
}
.switcher {
    align-items: start;
}