.backgroundMenuModal {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;

  width: 100%;
  height: 100%;
  background-color: #ebf3d4;
  background-image: url("../../../images/kisspng-pasta.png");

  background-repeat: no-repeat;
  background-position: bottom 0px right 0px;
  background-size: 100%, 100%;

  display: flex;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../../../images/kisspng-pasta2x.png");
    background-size: 100%, 100%;
  }

  @media screen and (min-width: 768px) {
    background-image: url("../../../images/kisspng-pastaTablet.png");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../../../images/kisspng-pastaTablet2x.png");
    }
  }
}

.container {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 100%;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.menuModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 18px 16px;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding: 18px 32px 32px 32px;
  }
}

.headModal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.iconClose {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.switcher {
  align-items: start;
}
