.menuModal__background {
  position: fixed;
  inset: 0;
  z-index: 99999;

  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg-menuModal);
  background-image: url("../../../images/kisspng-pasta.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  animation: fadeIn var(--transition-duration) ease;
  justify-content: flex-start;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .menuModal__background {
    background-image: url("../../../images/kisspng-pasta2x.png");
  }
}

.menuModal {
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 18px 16px;

  min-height: 100vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menuModal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.menuModal__switcher {
  display: flex;
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .menuModal__background {
    background-image: url("../../../images/kisspng-pastaTablet.png");
  }

  .menuModal {
    max-width: 768px;
    padding: 18px 32px 32px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .menuModal__background {
      background-image: url("../../../images/kisspng-pastaTablet2x.png");
    }
  }
}

@media screen and (min-width: 1200px) {
  .menuModal {
    max-width: 1200px;
  }
}
