.recipeIngredientsList__container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.recipeIngredientsList__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 12px 14px;

  background-color: #8baa36;
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    padding: 21px 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    padding: 21px 40px;
  }
}

.recipeIngredientsList__title {
  font-size: 10px;
  color: var(--color-text-third); /*update*/

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.recipeIngredientsList__flexWrapper {
  display: flex;
  flex-direction: row;
  gap: 18px;

  @media screen and (min-width: 768px) {
    gap: 38px;
  }

  @media screen and (min-width: 1200px) {
    gap: 109px;
  }
}

.recipeIngredientsList__list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 768px) {
    gap: 24px;
  }
}

.recipeIngredientsList__box {
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    margin-bottom: 96px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 100px;
  }
}
