.appDescription {
  margin-top: 14px;

  font-size: 14px;
  line-height: 18px;
  color: var(--color-text-main); /*update*/
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-top: 24px;

    text-align: left;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 14px;

    font-size: 18px;
    line-height: 24px;
  }
}
