.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    gap: 40px;
  }
}

.navigation__link {
  display: flex;
  align-items: center;

  text-decoration: none;
}

.navigation__link .navigation__text {
  font-size: 18px;
  line-height: 18px;
  color: var(--color-text-title);

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 24px;
  }
}

.navigation__link:hover .navigation__text,
.navigation__link:focus .navigation__text,
.navigation__link:active .navigation__text {
  color: var(--color-text-highlight);
}

.iconSearch {
  width: 20px;
  height: 20px;
  margin-right: 8px;

  fill: transparent;
  stroke: var(--color-text-title);

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 24px;
  }
}

.navigation__icon:hover {
  stroke: var(--color-text-highlight);
}
