.searchPage__container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.recipesList {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-block: 32px;
}



@media screen and (min-width: 768px) {
  .searchPage__container {
    max-width: 768px;
    padding: 0 32px;
  }

  .recipesListItem {
    flex-basis: calc((100% - 32px) / 2);
  }

  .recipesList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    margin-block: 50px;
  }


}

@media screen and (min-width: 1200px) {
  .searchPage__container {
    max-width: 1200px;
  }

  .recipesListItem {
    flex-basis: calc((100% - 14 * 3px) / 4);
  }

  .recipesList {
    gap: 14px;
    row-gap: 100px;
  }
}
