.recipesListItem {
  width: 100%;
}
.recipesList {
  display: flex;
  flex-direction: column;
  gap: 28px;

  margin-block: 32px;

  @media screen and (min-width: 768px) {
   flex-direction: row;
   flex-wrap: wrap;
  }
}
