.recipesListItem {
  width: 100%;
}

.recipesList {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 0;
  list-style: none;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1200px) {
    gap: 14px;
    row-gap: 100px;
  }
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin: 0 auto;
}
