.recipeContainer {
  display: flex;
  flex-direction: column;
  /* Inne style */
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Inne style */
}

.iconContainer {
  /* Stylizacja dla ikony dodawania */
}

.imagePreview {
  /* Stylizacja dla podglądu obrazka */
}

.formFields {
  display: flex;
  flex-direction: column;
  /* Inne style */
}

.inputField {
  margin-bottom: 20px;
  /* Stylizacja dla każdego pola */
}

.input {
  padding: 10px;
  border-radius: 4px;
  /* Stylizacja dla pól input */
}

.select {
  padding: 10px;
  border-radius: 4px;
  /* Stylizacja dla pól select */
}
