.select {
  max-height: 150px; /* Wysokość odpowiadająca około 6 opcji */
  overflow-y: auto;  /* Włącza przewijanie */
}

/* Stylizacja scrollbara dla select */
.select::-webkit-scrollbar {
  width: 4px;
}

.select::-webkit-scrollbar-track {
  background-color: var(--color-bg-scrollbar-track);
}

.select::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-scrollbar-thumb);
  border-radius: 12px;
}
