.recipePreparation__container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.recipePreparation__instructionsList {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 40px;
  margin-top: 28px;

  @media screen and (min-width: 768px) {
    gap: 18px;
    margin-top: 32px;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.recipePreparation__instructionsListItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.recipePreparation__numbStepBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  margin-right: 14px;
  padding: 2px 7px;

  background-color: rgba(139, 170, 54, 1);
  border-radius: 100px;
}

.recipePreparation__numbStepText {
  margin: 0;

  font-size: 12px;
  color: rgba(255, 255, 255, 1);

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.recipePreparation__descStep {
  margin-block: 0;

  font-size: 12px;
  line-height: 14px;
  color: var(--color-text-title);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 18px;
  }
}

.recipePreparation__image {
  border-radius: 8px;
}

.recipePreparation {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 50px;
  }
}
