.recipePreparation__container {
  padding: 20px;
  margin: 0 auto;
  max-width: 1240px;
}

.recipePreparation__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.recipePreparation__content {
  flex: 1;
}

.recipePreparation__instructionsList {
  list-style: none;
  padding: 0;
  margin: 30px 0;
}

.recipePreparation__instructionsListItem {
  display: flex;
  gap: 14px;
  margin-bottom: 20px;
}

.recipePreparation__numbStepBox {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 25px;
  height: 25px;
  background-color: #8BAA36;
  border-radius: 50%;
  padding: 5px;
}

.recipePreparation__numbStepText {
  color: #FFFFFF;
  font-size: 14px;
}

.recipePreparation__descStep {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
}

.recipePreparation__imageWrapper {
  width: 100%;
}

.recipePreparation__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .recipePreparation__wrapper {
    gap: 50px;
  }

  .recipePreparation__numbStepBox {
    min-width: 30px;
    height: 30px;
  }

  .recipePreparation__numbStepText {
    font-size: 16px;
  }

  .recipePreparation__descStep {
    font-size: 16px;
  }
}

@media (min-width: 1280px) {
  .recipePreparation__wrapper {
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
  }

  .recipePreparation__content {
    flex: 1;
    max-width: 757px;
  }

  .recipePreparation__imageWrapper {
    flex: 0 0 433px;
    margin-top: 58px; /* wyrównanie z tytułem */
  }

  .recipePreparation__image {
    width: 433px;
    height: 332px;
  }
}
