.listSocial {
    display: flex;
    flex-direction: row;
    gap: 14px;
    margin-top: 44px;
    
     @media screen and (min-width: 768px) {
    justify-content: center;
    margin-top: 38px;
   
   
  }
}
.iconSocial {
    width: 20px;
    height: 20px;
}