.cardRecipe {
  position: relative;

}

.recipeIMG {
  border-radius: 8px;
}
.titleBox {
  background-color: white;
  /* margin-inline: 18px;

  padding: 16px;
  border: 1px solid red; */
  width: calc((100% - 32px));
  border-radius: 8px;
  padding: 16px;
  position: absolute;
  bottom: 26px;
  left: 16px;
}
.title {
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  color: #3E4462;
}
