.cardRecipe {
  position: relative;
  width: 100%;
}

.recipeIMG {
  border-radius: 8px;
  width: 100%;
}
.titleBox {
  background-color: white;
 
  width: calc((100% - 32px));
  border-radius: 8px;
  padding: 16px;
  
  position: absolute;
  bottom: 26px;
  left: 16px;
}
.title {
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  color: #3e4462;
}
