.categoriesList {
  list-style: none;
  margin-top: 64px;

  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 32px;
}
.categoriesListItem {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.titleCategories {
  margin: 0;
  margin-bottom: 32px;

  font-size: 28px;
  line-height: 28px;
  color: #001833;

  align-self: start;
}

.recipesList {
  list-style: none;
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 10px;
}
.recipesListItem {
  width: 100%;
}

.btnCategories {
  margin-top: 24px;
  padding: 10px 24px;

  background-color: #8aa936;
  border-radius: 6px;
  border: none;

  align-self: flex-end;

  font-size: 14px;
  line-height: 18px;
}
