.bg {
}
.recipesList {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.categoriesList {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 32px;

  width: 100%;
}
.titleCategories {
  margin: 0;
  margin-bottom: 32px;

  font-size: 28px;
  line-height: 28px;
  color: #001833;

  align-self: start;
}
.btn {
  margin-top: 24px;
  padding: 10px 24px;
  background-color: #8aa936;
  border-radius: 6px;
  border: none;
}
.categories {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
