.uploadPlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 102px 108px;

  background-color: #8baa36;
  border-radius: 8px;

  cursor: pointer;
}

.uploadIcon {
  width: 64px;
  height: 64px;
}

.previewContainer {
  display: flex;
  justify-content: center;

  width: 279px;
  height: 268px;
  margin: 0 auto;

  border-radius: 8px;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .uploadPlaceholder {
    padding: 140px 146px;
  }
  
  .previewContainer {
    width: 357px;
    height: 344px;
  }
}
