:root {
  --color-text-light: #fafafa;
}

.myRecipesList {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.myRecipesList__card {
  display: flex;
  gap: 14px;
  padding: 14px 9px;
  background-color: var(--color-bg-card);
  border-radius: 8px;
}

.myRecipesList__image {
  width: 124px;
  height: 124px;
  border-radius: 8px;
}

.myRecipesList__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.myRecipesList__rowFirst {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.myRecipesList__deleteBtn {
  padding: 0;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.myRecipesList__iconBgRemove,
.myRecipesList__iconBgDelete {
  width: 24px;
  height: 24px;
  padding: 5px;
  border-radius: 4px;
}

.myRecipesList__iconBgRemove {
  background-color: var(--color-bg-iconRemove);
  stroke: var(--color-stroke-icon);
}

.myRecipesList__iconBgDelete {
  background-color: var(--color-bg-btn-secondary);
  stroke: var(--color-text-light);
}

.myRecipesList__iconDel {
  width: 14px;
  height: 14px;
}

.myRecipesList__description {
  margin-bottom: 24px;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--color-text-description-third);
}

.myRecipesList__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.myRecipesList__time {
  margin: 0;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.24px;
  color: var(--color-text-title);
}

.myRecipesList__title {
  margin: 0;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.24px;
  color: var(--color-text-title);
}

.myRecipesList__seeBtn {
  padding: 6px 14px;

  border-radius: 24px 44px;
  border: none;
  text-decoration: none;
}
.myRecipesList__txtBtn {
  background-color: var(--color-bg-btn);
}

.myRecipesList__txtFavBtn {
  background-color: var(--color-bg-btn-primary);
}

.myRecipesList__txtBtn,
.myRecipesList__txtFavBtn {
  font-size: 10px;
  color: var(--color-text-light);
}

@media screen and (min-width: 768px) {
  .myRecipesList {
    gap: 40px;
  }
  .myRecipesList__card {
    gap: 24px;
    padding: 28px 24px;
  }

  .myRecipesList__image {
    width: 228px;
    height: 232px;
  }

  .myRecipesList__rowFirst {
    margin-bottom: 18px;
  }

  .myRecipesList__iconBgRemove,
  .myRecipesList__iconBgDelete {
    width: 38px;
    height: 38px;
    padding: 8px;
  }

  .myRecipesList__iconDel {
    width: 22px;
    height: 22px;
  }

  .myRecipesList__description {
    margin-bottom: 58px;
    font-size: 14px;
    line-height: 1.29;
  }

  .myRecipesList__time,
  .myRecipesList__txtBtn,
  .myRecipesList__txtFavBtn {
    font-size: 14px;
  }

  .myRecipesList__title {
    font-size: 24px;
  }

  .myRecipesList__seeBtn {
    padding: 12px 32px;
  }
}

@media screen and (min-width: 1200px) {
  .myRecipesList {
    gap: 50px;
  }
  .myRecipesList__card {
    gap: 40px;
    padding: 40px;
  }

  .myRecipesList__image {
    width: 318px;
    height: 324px;
  }

  .myRecipesList__rowFirst {
    margin-bottom: 30px;
  }

  .myRecipesList__iconBgRemove,
  .myRecipesList__iconBgDelete {
    width: 44px;
    height: 44px;
    padding: 10px;
  }

  .myRecipesList__iconDel {
    width: 24px;
    height: 24px;
  }

  .myRecipesList__description {
    margin-bottom: 62px;
    font-size: 18px;
    line-height: 1.33;
  }

  .myRecipesList__txtBtn,
  .myRecipesList__txtFavBtn {
    font-size: 16px;
  }

  .myRecipesList__seeBtn {
    padding: 14px 38px;
  }
}
