.container {
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;

  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    padding: 0 32px;
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.background {
  background-image: url("../../images/bg3Mobile1x.png"),
    url("../../images/spinachMobile1x.png"),
    url("../../images//bckg2Mobile1x.png");
  background-repeat: no-repeat;

  background-position: top 160px right 0, top -10px left 0, top right 0;
  padding-bottom: 100px;

  @media screen and (min-width: 768px) {
    background-image: url("../../images/bg3Tablet1x.png"),
      url("../../images/spinachTablet1x.png"),
      url("../../images/bckg2Tablet1x.png");

    background-repeat: no-repeat;

    background-position: top 0px right 0px, top -10px left 0, bottom 0px right 0;
   padding-bottom: 200px;
    
  }
  @media screen and (min-width: 1200px) {
    background-image: url("../../images/bg3Desctop1x.png"),
      url("../../images/spinachDesctop1x.png"),
      url("../../images/kisspng-pastaDesctop.png");

    background-repeat: no-repeat;

    background-position: top 0px right 0px, top -10px left 0,
      bottom 80px right 0px;
    
    
  }
}
.mainPageBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 68px;
}
.appTitle {
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  color: #22252a;

  margin: 0;

  @media screen and (min-width: 768px) {
    font-size: 72px;
    line-height: 72px;
  }
}
.titleInnerColor {
  color: #8baa36;
}
.appDescription {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  text-align: center;

  color: #23262a;
}

.flexMed {
  display: flex;
  flex-direction: row;
}
