.container {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 100%;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.background {
  background-image: url("../../images/spinachMobile1x.png"), url("../../images//bckg2Mobile1x.png"),url("../../images/bg3Mobile1x.png");
  background-repeat: no-repeat;
  
  background-position: top -10px left 0,top right 0,top 120px right 0;

  
}

.title {
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    color: #22252A;
    padding-top: 68px;
    margin: 0;
}
.titleInnerColor {
color: #8BAA36;
}
.description {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -2%;
    text-align: center;
    
    color: #23262A;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}