.btn {
  border: none;
  background-color: transparent;
}
.btn:focus {
  outline: none;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.counterBox {
  border: 1px solid #33333355;
  border-radius: 18px;
  padding: 7px 14px;
}
.icon {
  width: 14px;
  height: 14px;
}
.iconMinus {
  width: 14px;
  height: 14px;
  stroke: #3333334b;
}
.counterFont {
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  margin: 0 8px;
}
.rowItem {
  display: flex;
  flex-direction: row;
  align-items: center;
 
}

.inputIngredient {
  appearance: none;
  background-image: url(../../images/Icon.svg);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 20px;
  stroke: #8baa36;
}

.fieldBox {
  display: flex;
  flex-direction: row;
  gap: 14px;
}
.iconX {
  width: 18px;
  height: 18px;
  stroke: #000000;
}
.btnX {
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 33px;
}
.box {
  display: flex;
  flex-direction: column;
}
.boxField {
  position: relative;
  background-color: #d9d9d9;
  padding: 16px 16px;

  background-image: url(../../images/Icon.svg);
  background-repeat: no-repeat;
  background-position: top 50% right 16px;
  padding-right: 20px;
  stroke: #8baa36;
  cursor: pointer;
}
.boxField input {
  background-color: transparent;
  border: none;
  outline: none;
}

.selectField {
  bottom: -126px;
  left: 0;
  background-color: #ffffff;
  overflow-y: scroll;
  max-height: 126px;
  position: absolute;
  z-index: -1;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-block: 8px;
  padding-left: 18px;
  border-radius: 6px;
  width: 100%;
}
.selectField::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 12px;
  width: 6px;
}
.selectField::-webkit-scrollbar-thumb {
  width: 6px;
  height: 93px;
  border-radius: 12px;
  background-color: #e7e5e5;
}
.menuItem {
  font-size: 12px;
  color: #000000;
  gap: 6px;
}

.selectField:hover {
  border: none;
  outline: none;
}
.ingredientsList {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
