.boxAuth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100vh;
}

.ss {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
}

.container {
  position: absolute;
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  padding: 20px;
}
.linkForm {
  font-size: 14px;
  font-family: Poppins;
  color: #fafafa;
  text-decoration: underline;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
