.search {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  max-width: 510px;
  margin-top: 1.5rem;
  margin-bottom: 5.1875rem;
  margin-inline: auto;
  background-color: transparent;
  border: 1px solid var(--color-border-search);
  border-radius: 1.5rem 2.75rem;
}

.search__input {
  width: 100%;
  padding-left: 32px;
  font-size: var(--font-size-asaid);
  color: var(--color-text-nav);
  background-color: transparent;
  border: none;
  outline: none;
}

.search__input::placeholder {
  font-size: 12px;
  color: var(--color-text-placeholders);
  background-color: transparent;
}

.search__btn {
  position: relative;
  padding: 16px 32px;

  font-size: 14px;
  line-height: 1.5;
  color: var(--color-text-btn-primary);

  background-color: var(--color-bg-btn-search);
  border: none;
  border-radius: 24px 44px;
  transition: background-color 0.3s ease;
}

.search__btn:disabled {
  cursor: not-allowed;
  background-color: rgb(215, 215, 215);
}

.search__btn:disabled:hover::after {
  content: attr(data-empty-message);
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5px 10px;
  margin-top: 5px;
  background-color: rgba(139, 170, 54, 1);
  color: rgba(34, 37, 42, 1);
  border: 1px solid rgba(139, 170, 54, 1);
  border-radius: 5px;
  white-space: nowrap;
  font-size: 12px;
  z-index: 1;
}

.search__btn:disabled:hover::before {
  content: "";
  position: absolute;
  top: 95%;
  left: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(139, 170, 54, 1) transparent transparent transparent;
}

input:-webkit-autofill {
  appearance: none;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: transparent !important;
}

.search__input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: var(--color-text-nav) !important;
}

@media screen and (min-width: 768px) {
  .search {
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .search__input {
    padding-left: 38px;
  }

  .search__input::placeholder {
    font-size: 16px;
  }

  .search__btn {
    padding: 18px 52px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .search {
    margin-top: 3.125rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .search__btn {
    transition: none;
  }
}
