.ingredientCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 29px 10px 10px;
  background-color: var(--color-bg-ingredient);
  border-radius: 8px;
}

.ingredientCard__details {
  display: flex;
  align-items: center;
}

.ingredientCard__image {
  margin-right: 8px;
  width: 65px;
  height: 65px;
}

.ingredientCard__name {
  font-size: 12px;
  line-height: 1.17;
  color: var(--color-text-title);
}

.ingredientCard__measureBox {
  margin-right: 28px;
  padding: 4px;
  width: 60px;
  text-align: center;
  background-color: var(--color-primary);
  border-radius: 4px;
}

.ingredientCard__measureText {
  margin: 0;
  font-size: 10px;
  color: var(--color-text-light);
}

@media screen and (min-width: 768px) {
  .ingredientCard {
    padding: 16px 58px 16px 24px;
  }

  .ingredientCard__image {
    width: 144px;
    height: 146px;
    margin-right: 24px;
  }

  .ingredientCard__name {
    font-size: 24px;
    line-height: 1;
  }

  .ingredientCard__measureBox {
    margin-right: 78px;
    padding: 4px 8px;
  }

  .ingredientCard__measureText {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .ingredientCard {
    padding: 1px 70px 1px 32px;
  }

  .ingredientCard__image {
    width: 180px;
    height: 180px;
    margin-right: 40px;
  }

  .ingredientCard__measureBox {
    margin-right: 151px;
  }
}
