.shoppingList__box {
  margin-bottom: 50px;
  width: 100%;
}

.shoppingList__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 12px 14px;

  background-color: #8baa36;
  border-radius: 8px;
}

.shoppingList__title {
  font-size: 10px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}

.shoppingList__flexWrapper {
  display: flex;
  gap: 18px;
}

.shoppingList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.shoppingList__empty {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .shoppingList__box {
    margin-bottom: 96px;
  }

  .shoppingList__header {
    margin-bottom: 32px;
    padding: 21px 32px;
  }

  .shoppingList__title {
    font-size: 18px;
  }

  .shoppingList__flexWrapper {
    gap: 38px;
  }

  .shoppingList {
    gap: 44px;
  }
}

@media screen and (min-width: 1200px) {
  .shoppingList__box {
    margin-bottom: 100px;
  }

  .shoppingList__header {
    margin-bottom: 50px;
    padding: 21px 40px;
  }

  .shoppingList__flexWrapper {
    gap: 109px;
  }
}
