.unitBox {
  display: flex;
  flex-direction: row;
  padding: 16px;
}
.noSpinButtons::-webkit-outer-spin-button,
.noSpinButtons::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.noSpinButtons {
  -moz-appearance: textfield;
}
input {
  width: 100%;
}
.inputNum {
  width: 3rem;
  text-align: right;
  border: none;
  outline: none;
}
.selectUnit {
  border: none;
  outline: none;
  background-color: transparent;

  appearance: none;
  background-image: url(../../images/Icon.svg);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 20px;
  stroke: #8baa36;
}
