.unitBox {
  display: flex;
  flex-direction: row;

  background-color: #d9d9d94f;
  border-radius: 6px;
}

.noSpinButtons {
  -moz-appearance: textfield; /* Wygląd bez spin buttonów dla Firefox */
  
  /* Usunięcie spin buttonów w WebKit */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none; /* Usunięcie domyślnego stylu */
  }
}

input {
  width: 100%;
}

.inputNum {
  width: 3rem;
  margin: 0;
  padding: 2px;

  font-size: 14px;
  color: #23262a;
  text-align: center;

  background-color: transparent;
  border: none;
  outline: none;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.selectUnit {
  padding-right: 20px;

  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;
  background-image: url(../../images/Icon.svg);
  background-repeat: no-repeat;
  background-position: right;
  stroke: #8baa36;
}
