.searchBar {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 510px;
    margin: 0 auto;
  }
  
  @media (min-width: 768px) {
    .searchBar {
      gap: 28px;
    }
  }
  
  @media (min-width: 1200px) {
    .searchBar {
      gap: 32px;
    }
  }