.header__container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.headerBox {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
}

.header__mobile {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .header__container {
    max-width: 768px;
    padding: 0 32px;
  }

  .header__mobile {
    gap: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    max-width: 1200px;
  }
}
