.container {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 100%;

  @media screen and (min-width: 480px) {
    
  }
  @media screen and (min-width: 768px) {
    padding: 0 32px;
   
  }
  @media screen and (min-width: 1200px) {
   width: 1200px;
  }
}

.headerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  @media screen and (min-width: 768px) {
   
  }
}
.mobileBox {
    display: flex;
    flex-direction: row;
}