.navigation {
  margin-top: 44px;

  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin-top: 40px;

    gap: 18px;
  }
}

.link {
  padding: 12px 24px 12px 24px;

  border-radius: 24px 44px;

  @media screen and (min-width: 768px) {
    padding: 22px 44px 22px 44px;
  }
}

.linkRegister {
  background-color: #8baa36;

  transition: all 0.3s;
}

.linkRegister:hover {
  color: #fafafa;
  
  background-color: transparent;
  border: 1px solid #fafafa;
}

.linkSignin {
  background-color: transparent;
  border: 1px solid #fafafa;
  
  transition: all 0.3s;
}

.linkSignin:hover {
  background-color: #8baa36;
  border: 1px solid #8baa36;
  
  color: #fafafa;
}

.linkText {
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  color: #fafafa;
}
