.switch {
  position: relative;
  display: inline-block;
  width: 61px;
  height: 27px;
}

.switchInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.switchSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EFEFEF;
  border-radius: 34px;
  transition: 0.4s;
}

.switchSlider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 2px;
  background-color: #FFFFFF;
  border-radius: 50%;
  transition: 0.4s;
}

.switchInput:checked + .switchSlider {
  background-color: #8BAA36;
}

.switchInput:checked + .switchSlider:before {
  transform: translateX(29px);
}
