.themeToggler__label {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.themeToggler__input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.themeToggler__slider {
  position: relative;
  display: block;
  width: 61px;
  height: 27px;

  background-color: #efefef;
  border-radius: 34px;
  transition: background-color var(--transition-duration) ease;

}

.themeToggler__slider:before {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 2px;
  width: 23px;
  height: 23px;

  background-color: #ffffff;
  border-radius: 50%;
  transition: transform var(--transition-duration) ease;

}

.themeToggler__input:checked + .themeToggler__slider {
  background-color: #8baa36;
}

.themeToggler__input:checked + .themeToggler__slider:before {
  transform: translateX(29px);
}

.themeToggler__input:focus + .themeToggler__slider {
  outline: 2px solid var(--color-text-highlight);
  outline-offset: 2px;
}