.switch {
  position: relative;

  display: inline-block;
  width: 61px;
  height: 27px;
}

.switchInput {
  width: 0;
  height: 0;

  opacity: 0;
}

.switchSlider {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: #efefef;
  border-radius: 34px;

  transition: 0.4s;
  cursor: pointer;
}

.switchSlider:before {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 2px;

  width: 23px;
  height: 23px;

  background-color: #ffffff;
  border-radius: 50%;

  transition: 0.4s;
}

.switchInput:checked + .switchSlider {
  background-color: #8baa36;
}

.switchInput:checked + .switchSlider:before {
  transform: translateX(29px);
}
