.background {
  background-image: url("../../images/bg3Mobile1x.png");
  background-repeat: no-repeat;

  background-position: top 160px right 0;

  @media screen and (min-width: 768px) {
    background-image: url("../../images/bg3Tablet1x.png");
    background-repeat: no-repeat;

    background-position: top 0px right 0px;
  }
  @media screen and (min-width: 1200px) {
    background-image: url("../../images/bg3Desctop1x.png");
    background-repeat: no-repeat;

    background-position: top 0px right 0px;
  }
}
