.container {
  background-image: url("../../images/foot1x.png"),
    url("../../images/foot21x.png");
  background-repeat: no-repeat;
  background-position: bottom 0 right 0, bottom 300px left 0;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .container {
    background-image: url("../../images/footTablet1x.png"),
    url("../../images/foot2Tablet1x.png");
    background-position: bottom 0 right 0, bottom 330px left 0;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    background-position: bottom 0 right 0, bottom 400px left 0;
  }
}

