.footer {
  
  padding-bottom: 18px;
  padding-top: 28px;

  color: var(--color-text-btn-primary); /*new update*/

  background-color: var(--color-bg-footer);

  @media screen and (min-width: 768px) {
    
    padding-bottom: 24px;
    padding-top: 50px;
  }

  @media screen and (min-width: 1200px) {
    
    padding-bottom: 50px;
    padding-top: 64px;
  }
}

.footer__container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.footer__primaryContent {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    align-items: center;
  }
}
.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  @media screen and (min-width: 768px) {
    margin-bottom: 72px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0; /* sprawdzic*/
  }
}

.footer__contentSmall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 72px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0; /* sprawdzic*/
  }
}

.footer__logoAndFeatures {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;

  @media screen and (min-width: 1200px) {
    gap: 40px;
  }
}

.footer__logoBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logoImage {
  width: 30px;
  height: 30px;
  margin-right: 8px;

  background-color: #ebf3d4;
  border-radius: 6px;

  @media screen and (min-width: 768px) {
    width: 44px;
    height: 44px;
    margin-right: 12px;
  }
}

.footer__logoTitle {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;

  @media screen and (min-width: 768px) {
    margin: 0;

    font-size: 28px;
    line-height: 28px;
  }
}

/* .footerNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.footer__featuresList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 40px;

  list-style: circle;

  @media screen and (min-width: 1200px) {
    gap: 12px;
  }
}

.footer__featureItem {
  font-size: 14px;
  line-height: 18px;

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.footer__subscribeSection {
  display: inline-block;
}

.footer__subscribeTextBox {
  max-width: 331px;
}

.footer__subscribeTitle {
  margin: 0;

  font-size: 18px;
  font-weight: bold;
}

.footer__subscribeDescription {
  margin-top: 14px;

  font-size: 14px;
  line-height: 18px;
}

