.footer {
  margin-top: 100px;
  padding-bottom: 18px;
  padding-top: 28px;

  color: var(--color-text-btn-primary);

  background-color: var(--color-bg-footer);
}

.footer__container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

.footer__primaryContent {
  display: flex;
  flex-direction: column;
}
.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__contentSmall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logoAndFeatures {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.footer__logoBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logoImage {
  width: 30px;
  height: 30px;
  margin-right: 8px;

  background-color: #ebf3d4;
  border-radius: var(--border-radius-sm);
}

.footer__logoTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}

.footer__featuresList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 40px;

  list-style: circle;
}

.footer__featureItem {
  font-size: 14px;
  line-height: 1.3;
}

.footer__subscribeSection {
  display: inline-block;
}

.footer__subscribeTextBox {
  max-width: 331px;
}

.footer__subscribeTitle {
  margin: 0;

  font-size: 18px;
  font-weight: 700;
}

.footer__subscribeDescription {
  margin-top: 14px;

  font-size: 14px;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .footer {
    margin-top: 200px;
    padding-bottom: 24px;
    padding-top: 50px;
  }
  .footer__container {
    max-width: 768px;
    padding: 0 32px;
  }
  .footer__primaryContent {
    align-items: center;
  }
  .footer__content,
  .footer__contentSmall {
    margin-bottom: 72px;
  }
  .footer__logoImage {
    width: 44px;
    height: 44px;
    margin-right: 12px;
  }
  .footer__logoTitle {
    margin: 0;

    font-size: 28px;
    line-height: 1;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    margin-top: 100px;
    padding-bottom: 50px;
    padding-top: 64px;
  }
  .footer__container {
    max-width: 1200px;
  }
  .footer__content,
  .footer__contentSmall {
    margin-bottom: 0;
  }
  .footer__logoAndFeatures {
    gap: 40px;
  }
  .footer__featuresList {
    gap: 12px;
  }
  .footer__featureItem {
    font-size: 18px;
    line-height: 1.33;
  }
}
