.btn-edit-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 28px;
  padding: 0;

  font-size: 14px;
  line-height: 22.4px;
  color: var(--color-text-description); /*new update*/

  background-color: transparent;
  border: none;

  white-space: nowrap;
}

.btn-edit-profile__icon {
  width: 14px;
  height: 14px;
  margin-left: 37px;
  stroke:var(--color-stroke-icon);
  fill:transparent;
}
