.btnEditProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 37px;
  margin-bottom: 28px;
  padding: 0;

  font-size: 14px;
  line-height: 1.6;
  color: var(--color-text-description);

  background-color: transparent;
  border: none;

  white-space: nowrap;
}

.btnEditProfile__icon {
  width: 14px;
  height: 14px;

  stroke: var(--color-stroke-icon);
  fill: transparent;
}
