.mainPageTitle {
  margin: 0;

  font-size: 24px;
  line-height: 24px;
  color: var(--color-text-five); /*update*/

  @media screen and (min-width: 768px) {
    font-size: 44px;
    line-height: 44px;
  }
}
