:root {
  --color-border: #e0e0e0;
  --color-bg-measure: #8baa36;
  --color-text-measure: #fafafa;
}

.ingredientCard {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--color-border);
}

.ingredientCard__details {
  display: flex;
  align-items: flex-start;
}

.ingredientCard__image {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.ingredientCard__name {
  margin: 0;
  font-size: 10px;
  line-height: 1.2;
  color: var(--color-text-title);
}

.ingredientCard__measureBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 46px;
  padding: 4px;
  width: 60px;
  height: 23px;
  background-color: var(--color-bg-measure);
  border-radius: 4px;
}

.ingredientCard__measureText {
  margin: 0;
  font-size: 10px;
  color: var(--color-text-measure);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.iconX {
  width: 14px;
  height: 14px;
  stroke: var(--color-stroke-icon);
}

.recipeIngredients__btnX {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: var(--breakpoint-tablet)) {
  .ingredientCard {
    padding-bottom: 43px;
  }

  .ingredientCard__image {
    width: 93px;
    height: 97px;
    margin-right: 16px;
  }

  .ingredientCard__name {
    font-size: 16px;
    line-height: 1.5;
  }

  .ingredientCard__measureBox {
    margin-right: 110px;
    width: 110px;
    height: 35px;
  }

  .ingredientCard__measureText {
    font-size: 18px;
  }

  .iconX {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: var(--breakpoint-desktop)) {
  .ingredientCard__measureBox {
    margin-right: 174px;
  }
}
