.navigation {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.link {
  text-decoration: none;
}

.link .navText {
  font-size: 14px;
  line-height: 22.4px;
  color: var(--color-text-nav); /*update*/
}

.link:hover .navText,
.link:focus .navText,
.link:active .navText {
  color: var(--color-text-five); /*update*/
}

.iconSearch {
  width: 24px;
  height: 24px;

  fill: transparent;
  stroke: rgb(0, 0, 0);
}

.iconSearch:hover {
  stroke: #8baa36;
}
