.navigation {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.navigation__link {
  text-decoration: none;
}

.navigation__link .navigation__text {
  font-size: 14px;
  line-height: 22.4px;
  color: var(--color-text-nav); /* new update*/


}

.navigation__link:hover .navigation__text,
.navigation__link:focus .navigation__text,
.navigation__link:active .navigation__text {
  color: var(--color-text-highlight); /*new update*/
}

.navigation__iconSearch {
  width: 24px;
  height: 24px;

  fill: transparent;
  stroke: rgb(0, 0, 0);
}

.navigation__iconSearch:hover {
  stroke: #8baa36;
}
