.welcomePage {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 35px;
  background-image: url("../../images/backgroundWelcome1x.png");
  background-size: cover;

  @media screen and (min-resolution: 192dpi) {
    background-image: url("../../images/backgroundWelcome2x.png");
  }

  @media screen and (min-width: 768px) {
    background-image: url("../../images/backgroundWelcomeTablet1x.png");

    @media screen and (min-resolution: 192dpi) {
      background-image: url("../../images/backgroundWelcomeTablet2x.png");
    }
  }

  @media screen and (min-width: 1299px) {
    background-image: url("../../images/backgroundWelcomeDesktop1x.png");

    @media screen and (min-resolution: 192dpi) {
      background-image: url("../../images/backgroundWelcomeDesktop2x.png");
    }
  }
}

.welcomePage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    gap: 44px;
  }
}

.welcomePage__logo {
  width: 54px;
  height: 54px;

  @media screen and (min-width: 768px) {
    width: 68px;
    height: 68px;
  }
}

.welcomePage__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomePage__text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.welcomePage__title {
  margin-bottom: 14px;
  font-size: 24px;
  font-weight: 550;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 1);

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 28px;
  }
}

.welcomePage__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 1);

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
  }
}
