.welcomePage {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 35px;
  background-image: url("../../images/backgroundWelcome1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@supports (background-image: url("../../images/backgroundWelcome1x.webp")) {
  .welcomePage {
    background-image: url("../../images/backgroundWelcome1x.webp");
  }
}

.welcomePage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
  margin: 0 auto;
}

.welcomePage__logo {
  width: 54px;
  height: 54px;
}

.welcomePage__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomePage__text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.welcomePage__title {
  margin-bottom: 14px;
  font-size: 24px;
  font-weight: 550;
  line-height: 1;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 1);
}

.welcomePage__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 1);
}

/* Retina Display */
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .welcomePage {
    background-image: url("../../images/backgroundWelcome2x.jpg");
  }
}

@supports (background-image: url("../../images/backgroundWelcome2x.webp")) {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .welcomePage {
      background-image: url("../../images/backgroundWelcome2x.webp");
    }
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .welcomePage {
    background-image: url("../../images/backgroundWelcomeTablet1x.jpg");
  }

  @supports (
    background-image: url("../../images/backgroundWelcomeTablet1x.webp")
  ) {
    .welcomePage {
      background-image: url("../../images/backgroundWelcomeTablet1x.webp");
    }
  }

  .welcomePage__container {
    gap: 44px;
  }
  .welcomePage__logo {
    width: 68px;
    height: 68px;
  }

  .welcomePage__title {
    font-size: 28px;
  }
  .welcomePage__description {
    font-size: 18px;
    line-height: 1.33;
  }
}

/* Tablet Retina */
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .welcomePage {
    background-image: url("../../images/backgroundWelcomeTablet2x.jpg");
  }
}

@supports (
  background-image: url("../../images/backgroundWelcomeTablet2x.webp")
) {
  @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (min-resolution: 192dpi),
    screen and (min-width: 768px) and (min-resolution: 2dppx) {
    .welcomePage {
      background-image: url("../../images/backgroundWelcomeTablet2x.webp");
    }
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .welcomePage {
    background-image: url("../../images/backgroundWelcomeDesktop1x.jpg");
  }
}

@supports (
  background-image: url("../../images/backgroundWelcomeDesktop1x.webp")
) {
  @media screen and (min-width: 1200px) {
    .welcomePage {
      background-image: url("../../images/backgroundWelcomeDesktop1x.webp");
    }
  }
}

/* Desktop Retina */
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .welcomePage {
    background-image: url("../../images/backgroundWelcomeDesktop2x.jpg");
  }
}

@supports (
  background-image: url("../../images/backgroundWelcomeDesktop2x.webp")
) {
  @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 1200px) and (min-resolution: 192dpi),
    screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    .welcomePage {
      background-image: url("../../images/backgroundWelcomeDesktop2x.webp");
    }
  }
}
