.userModal {
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 9999;

  padding: 18px;

  background-color: white;
  border: 1px solid #8baa36;
  border-radius: 10px;

  cursor: auto;
}
