/* Styles for the image */
.imggg {
  position: absolute;
  left: 50%;
  top: -220px;
  z-index: -1;

  width: 17.8125rem;
  height: 15.625rem;

  background-position: center;

  /* Media queries for responsive design */
  @media screen and (min-width: var(--breakpoint-md)) {
    top: -346px;
    z-index: 0;

    width: 25.5625rem;
    height: 22.4375rem;
  }

  @media screen and (min-width: var(--breakpoint-lg)) {
    left: -40.4375rem;
    top: 0;
    z-index: 0;

    width: 33.25rem;
    height: 29.25rem;
  }
}

/* Styles for the registration form */
.formRegister {
  position: relative;

  margin-bottom: 1.125rem;
  padding: 2rem 1.75rem;

  background-color: var(--color-bg-secondary);
  border-radius: 1.875rem;

  /* Media queries for responsive design */
  @media screen and (min-width: var(--breakpoint-md)) {
    margin-top: 17.5rem;
    padding: 2.75rem 3.125rem;
  }

  @media screen and (min-width: var(--breakpoint-lg)) {
    margin-top: 0;
  }
}

/* Styles for the input box container */
.boxInput {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1.75rem;

  /* Media queries for responsive design */
  @media screen and (min-width: var(--breakpoint-md)) {
    gap: 1.5rem;
    margin-bottom: 3.125rem;
  }
}

/* Styles for the registration title */
.titleRegister {
  font-size: 1.5rem;
  line-height: 1.75rem;

  text-align: left;
  color: var(--color-text-third);

  /* Media queries for responsive design */
  @media screen and (min-width: var(--breakpoint-md)) {
    font-size: 1.75rem;
    line-height: 1.875rem;
  }
}

/* Styles for the registration input fields */
.inputRegister {
  font-size: 0.875rem;
  color: var(--color-text-secondary);

  background-color: transparent;
  outline: none;
  border: 0;

  /* Media queries for responsive design */
  @media screen and (min-width: var(--breakpoint-md)) {
    padding: 1rem 1.125rem;

    font-size: 1.125rem;
  }
}

/* Styles for the placeholder in the registration input fields */
.inputRegister::placeholder {
  font-size: var(--font-size-small);
  color: var(--color-text-third);

  /* Media queries for responsive design */
  @media screen and (min-width: var(--breakpoint-md)) {
    font-size: 1.125rem;
  }
}

/* Styles for input icons */
.inputIcon {
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.5rem;

  /* Media queries for responsive design */
  @media screen and (min-width: var(--breakpoint-md)) {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.errorInputIcon {
  stroke: var(--color-error);
}

/* Styles for input fields with icons */
.inputWithIcon {
  position: relative;

  display: flex;
  align-items: center;
  padding: 0.75rem 0.875rem;

  border: 1px solid var(--color-border);
  border-radius: 0.375rem;

  /* Media queries for responsive design */
  @media screen and (min-width: var(--breakpoint-md)) {
    padding: 1rem 1.125rem;
  }
}

/* Focus and hover styles for input with icons */
.inputWithIcon:focus-within {
  border-color: #fafafa;
}

.inputWithIcon:hover {
  border-color: #fafafa;
}

/* Styles for error input with icons */
.errorInputWithIcon {
  border: 1px solid var(--color-error);
  fill: var(--color-error);
}

/* Styles for the registration button */
.btnRegister {
  min-width: 100%;
  padding-block: 0.75rem;

  font-style: normal;
  line-height: 1.125rem;
  font-size: var(--font-size-base);
  text-align: center;
  color: var(--color-text-third);

  background-color: var(--color-bg-third);

  transition: all var(--transition-speed);

  /* Media queries for responsive design */
  @media screen and (min-width: var(--breakpoint-md)) {
    padding: 1.1875rem 10.625rem;
  }
}

/* Hover styles for the registration button */
.btnRegister:hover {
  color: var(--color-text-primary);

  background-color: var(--color-bg-primary);
  border-color: var(--color-border-secondary);
}

/* Styles for error messages */
.inputError {
  position: absolute;
  left: 0;
  bottom: -0.6875rem;

  padding-right: 0.3125rem;

  font-size: 0.4375rem;
  color: var(--color-error);

  /* Media queries for responsive design */
  @media screen and (min-width: var(--breakpoint-md)) {
    bottom: -1.3125rem;

    font-size: var(--font-size-small);
  }
}

/* Styles for additional icons */
.additionalErrorIcon {
  position: absolute;
  right: 0.625rem;
}

.additionalSuccessIcon {
  position: absolute;
  right: 0.625rem;

  fill: var(--color-success);
  stroke: var(--color-success);
}

/* Styles for error messages */
.errorMessage {
  color: #ffffff;
}

/* Styles for success messages */
.successMessage {
  color: #ffffff;
}

/* Styles for regular text */
.txt {
  font-size: var(--font-size-base);
  font-style: normal;
  line-height: 1.125rem;
  text-align: center;
  color: #fafafa;
}

/* Styles for the resend button */
.resendButton {
  margin-left: 0.9375rem;
  padding-block: 0.75rem;

  font-style: normal;
  line-height: 1.125rem;
  font-size: var(--font-size-base);
  text-align: center;
  color: #fafafa;

  background-color: var(--color-bg-third);
  border: none;
  border-radius: 0.5rem;

  transition: all 0.3s;
}

/* Hover styles for the resend button */
.resendButton:hover {
  color: #8baa36;

  background-color: var(--color-bg-primary);
  border-color: var(--color-border-secondary);
}
