.logo {
  position: absolute;
  top: -13.75rem;
  left: center;

  z-index: -1;
  background-position: center;

  width: 17.8125rem;
  height: 15.625rem;
  @media screen and (min-width: var(--breakpoint-md)) {
    width: 25.5625rem;
    height: 22.4375rem;
    z-index: 0;
    top: -21.625rem;
  }
  @media screen and (min-width: 1200px) {
    width: 33.25rem;
    height: 29.25rem;
    z-index: 2;
    top: 0;
    left: -40.4375rem;
  }
}
.formRegister {
  position: relative;
  background-color: var(--color-bg-secondary);
  border-radius: 1.875rem;
  margin-bottom: 1.125rem;
  padding: 2rem 1.75rem;

  @media screen and (min-width: var(--breakpoint-md)) {
    padding: 44px 50px;
    margin-top: 280px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }
}
.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1.75rem;

  @media screen and (min-width: 768px) {
    gap: 1.5rem;
    margin-bottom: 3.125rem;
  }
}
.title {
  font-size: 1.5rem;
  line-height: 1.75rem;

  text-align: left;
  color: var(--color-text-third);

  @media screen and (min-width: 768px) {
    font-size: 1.75rem;
    line-height: 1.875rem;
  }
}
.input {
  background-color: transparent;
  outline: none;

  border: 0;
  font-size: var(--font-size-small);
  color: var(--color-text-secondary);

  @media screen and (min-width: 768px) {
    font-size: 1.125rem;
    padding: 1rem 1.125rem;
  }
}

.input::placeholder {
  font-size: 0.875rem;

  color: #fafafa;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}
.icon {
  width: 18px;
  height: 18px;

  margin-right: 8px;

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}
.iconError {
  stroke: red;
}
.inputWrapper {
  display: flex;
  align-items: center;
  border: 1px solid #8a8787;
  border-radius: 6px;
  padding: 12px 14px;

  position: relative;
  @media screen and (min-width: 768px) {
    padding: 16px 18px;
  }
}
.inputWrapper:focus-within {
  border-color: #fafafa;
}

.inputWrapper:hover {
  border-color: #fafafa;
}
.inputError {
  border: 1px solid red;
  fill: red;
}

.submitButton {
  font-family: Poppins;
  font-style: normal;
  line-height: 18px;
  font-size: 16px;
  text-align: center;
  color: #fafafa;

  background-color: #8baa36;
  padding-block: 12px;
  min-width: 100%;

  transition: all 0.3s;

  @media screen and (min-width: 768px) {
    padding: 19px 170px;
  }
}
.submitButton:hover {
  border-color: #8baa36;
  background-color: #fafafa;
  color: #8baa36;
}
.errorMessage {
  color: red;
  font-family: Poppins;
  font-size: 7px;
  padding-right: 5px;

  position: absolute;
  bottom: -11px;
  left: 0;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    bottom: -21px;
  }
}

.statusIcon {
  position: absolute;
  right: 10px;
}
.additionalSuccessIcon {
  position: absolute;
  right: 10px;
  fill: green;
  stroke: green;
}
.additionalErrorIcon {
  position: absolute;
  right: 10px;
  fill: rgb(255, 5, 5);
  stroke: rgb(255, 7, 7);
}

.successMessage {
  color: #ffffff;
}
.verificationText {
  font-family: Poppins;
  font-style: normal;
  line-height: 18px;
  font-size: 16px;
  text-align: center;
  color: #fafafa;
}
.resendButton {
  font-family: Poppins;
  font-style: normal;
  line-height: 18px;
  font-size: 16px;
  text-align: center;
  color: #fafafa;

  background-color: #8baa36;
  padding-block: 12px;
  margin-left: 15px;
  transition: all 0.3s;
  border: none;
  border-radius: 8px;
}
.resendButton:hover {
  border-color: #8baa36;
  background-color: #fafafa;
  color: #8baa36;
}
