/* Importing Fonts */
@import "./stylesheet/fonts.css";

/* Root Variables for Colors, Sizes, and Other Common Values */
:root {
  --color-text-main: rgba(
    35,
    38,
    42,
    1
  ); /*Color text nav, Text Description Card Own Recipe*/
  --color-text-primary: rgba(
    0,
    24,
    51,
    1
  ); /*Color text Title Section and Page */
  --color-text-secondary: rgba(
    62,
    68,
    98,
    1
  ); /*Color text title dish Card, ChoseYourBreakfastDesc,Title Card Popular Recipe, Card Own Recipe Title */
  --color-text-third: rgba(
    250,
    250,
    250,
    1
  ); /*Color text button, all text in Footer, Text Button Subscribe*/
  --color-text-four: rgba(
    34,
    37,
    42,
    1
  ); /*Color text button second, username in header, TitleApp, Copyrights Text*/
  --color-text-five: rgba(
    139,
    170,
    54,
    1
  ); /*Color text nav hover, TitleApp, ChoseYourBreakfastDesc, */
  --color-text-six: rgba(189, 189, 189, 1); /*Color text placeholder input*/
  --color-text-seven: rgba(
    0,
    0,
    0,
    1
  ); /*Color text placeholder input in addRecipe*/
  --color-text-eight: rgba(
    51,
    51,
    51,
    1
  ); /*Color text number used ingredients */
  --color-text-nine: rgba(
    126,
    126,
    126,
    1
  ); /* Color text description Popular Recipe */

  --color-bg-primary: #fafafa; /* Background color for the body */
  --color-bg-secondary: #2a2c36; /* Background color for form */
  --color-bg-third: #8baa36; /* Background color third */
  --color-background-four: #ffffff; /* Background color */

  --color-border: #8a8787; /* Border color for input fields */
  --color-border-secondary: #8baa36; /* Second border color  */
  --color-border-third: #fafafa; /* Third border color  */
  --color-border-four: #f0f0f0;

  --color-error: red; /* Error color */
  --color-success: green; /* Success color */

  --font-family-primary: "Poppins", "Circe", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif; /* Font stack */

  --font-size-base: 1rem; /* Base font size */
  --font-size-asaid: 0.75rem; /* Asaid font size */
  --font-size-small: 0.875rem; /* Small font size */
  --font-size-large: 1.5rem; /* Large font size */

  --border-radius: 0.375rem; /* Border radius for inputs and buttons */
  --transition-speed: 0.3s; /* Transition speed for hover effects */

  /* Breakpoints for Responsive Design */
  --breakpoint-xs: 480px; /* Extra small screens */
  --breakpoint-md: 768px; /* Medium screens */
  --breakpoint-lg: 1200px; /* Large screens */

  /* --color-text-third: #001833;
  --font-size-primary: 12px; */

  /* NEW VARIABLES METHOD */

  /* Text colors */
  --color-text-nav: rgba(35, 38, 42, 1);
  --color-text-highlight: rgba(139, 170, 54, 1);
  --color-text-title: rgba(34, 37, 42, 1);
  --color-text-description: rgba(35, 38, 42, 1);
  --color-text-placeholder: rgba(
    189,
    189,
    189,
    1
  ); /* #BDBDBD  placeholder search input */
  --color-text-placeholders: rgba(141, 139, 139, 0.886);
  --color-text-btn-primary: rgba(250, 250, 250, 1); /* FAFAFA */
  --color-text-description-secondary: rgba(42, 44, 54, 1);
  --color-text-link: rgba(62, 68, 98, 1); /* #3E4462 */
  --color-text-subtitle: rgba(0, 24, 51, 1);
  --color-text-input: rgba(35, 38, 42, 1);
  --color-text-pagination: rgba(35, 38, 42, 1);
--color-text-input-secondary:rgba(0, 0, 0, 1);

  /* Background colors */
  --color-bg-btn-search: rgba(34, 37, 42, 1); /* #22252A */
  --color-bg-body: rgba(250, 250, 250, 1);
  --color-bg-btn: rgba(139, 170, 54, 1);
  --color-bg-btn-secondary: rgba(139, 170, 54, 1);
  --color-bg-footer: rgba(34, 37, 42, 1);
  --color-bg-icons: rgba(139, 170, 54, 1);
  --color-bg-menuModal: rgba(235, 243, 212, 1);
  --color-bg-pagination-select: rgba(235, 243, 212, 1);
  --color-bg-pagination-hover: rgb(102, 102, 102);
  --color-bg-pagination: rgba(250, 250, 250, 1);
--color-bg-selectMenu:rgba(250, 250, 250, 1);

  /* Border colors*/
  --color-border-search: #f0f0f0;
  --color-border-btn: rgba(139, 170, 54, 1);
  --color-border-input: rgba(35, 38, 42, 1);
  --color-border-line: rgba(224, 224, 224, 1);

  --color-Hamburger: rgba(34, 37, 42, 1);

  --color-stroke-icon: rgba(34, 37, 42, 1);

  --box-shadow-pagination: rgba(135, 135, 135, 0.2);
}

.dark-theme {
  /* Text colors */
  --color-text-nav: rgba(250, 250, 250, 1);
  --color-text-title: rgba(250, 250, 250, 1);
  --color-text-description: rgba(250, 250, 250, 1);
  --color-text-placeholder: rgba(
    250,
    250,
    250,
    1
  ); /* #FAFAFA placeholder search input */
  --color-text-description-secondary: rgba(250, 250, 250, 1);
  --color-text-link: rgba(250, 250, 250, 1);
  --color-text-subtitle: rgba(250, 250, 250, 1);
  --color-text-input: rgba(250, 250, 250, 1);
  --color-text-pagination: rgba(250, 250, 250, 1);
  --color-text-input-secondary:rgba(250, 250, 250, 1);

  /* Background colors */
  --color-bg-btn-search: rgba(139, 170, 54, 1); /* 8BAA36 */
  --color-bg-body: rgba(42, 44, 54, 1);
  --color-bg-footer: rgba(139, 170, 54, 1);
  --color-bg-btn-secondary: rgba(30, 31, 40, 1);
  --color-bg-icons: rgba(250, 250, 250, 1);
  --color-bg-menuModal: rgba(30, 31, 40, 1);
  --color-bg-pagination-select: rgba(139, 170, 54, 1);
  --color-bg-pagination: rgba(42, 44, 54, 1);
  --color-bg-selectMenu:rgba(139, 170, 54, 1);

  /* Border colors*/
  --color-border-search: rgba(139, 170, 54, 1);
  --color-border-input: rgba(250, 250, 250, 1);
  --color-border-line: rgba(250, 250, 250, 0.2);

  --color-Hamburger: rgba(250, 250, 250, 1);

  --color-stroke-icon: rgba(250, 250, 250, 1);

  --box-shadow-pagination: rgba(31, 30, 30, 0.2);
}

/* Apply box-sizing globally to ensure padding/border are included in element width and height */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Global Styles */
body {
  min-width: 320px; /* Minimum width for responsiveness */
  margin: 0; /* Remove default margin */

  font-family: var(--font-family-primary); /* Applying primary font */

  background-color: var(--color-bg-primary); /* Set background color */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #fafafa;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* dark-theme.css */
body.dark-theme {
  background-color: black;
}
