.title {
  margin: 0;
  font-size: 60px;
  line-height: 1;
  color: var(--color-text-title);
  text-align: center;
}

.title__highlight {
  color: var(--color-text-highlight);
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 72px;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 100px;
  }
}
