.notFound__container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.notFound__illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.notFound__icon {
  width: 259px;
  height: 170px;
}

.notFound__message {
  text-align: center;
}

.notFound__title {
  font-size: 18px;
  line-height: 1.2;
  color: var(--color-text-title);
}

.notFound__text {
  font-size: 14px;
  line-height: 1.29;
  color: var(--color-text-description-third);
}

@media screen and (min-width: 768px) {
  .notFound__container {
    max-width: 768px;
    padding: 0 32px;
    margin: 0 auto;
  }
  .notFound__title {
    font-size: 24px;
    line-height: 1;
  }
  .notFound__text {
    font-size: 18px;
    line-height: 1.33;
  }
  .notFound__icon {
    width: 498px;
    height: 327px;
  }
}

@media screen and (min-width: 1200px) {
  .notFound__container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
